/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

footer {
  min-height: 10vh;
  background-color: var(--color-gray);
  text-align: right;
}
footer .copyright {
  display: inline-block;
}
.built-with__bureau {
  color: var(--color-blue);
}
