/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

/* Limiters
---------------------------------------------------------------- */
.limit--normal {
  max-width: 1200px;
}
.limit--tight {
  max-width: 840px;
}

.center-column {
  margin-left: auto;
  margin-right: auto;
}

/* Content Padding
---------------------------------------------------------------- */
.cp {
  padding: 40px;
}
.cp--quatro {
  padding: 160px;
}

/* Section Coloring
---------------------------------------------------------------- */
.sc--white {
  background-color: var(--color-white);
}
.sc--blue {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.sc--black {
  background-color: var(--color-black);
  color: var(--color-white);
}
.sc--gray {
  background-color: var(--color-gray);
}

/* Section Types
---------------------------------------------------------------- */
.s--image,
.s--image--small {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
}
.s--image--small {
  height: 500px;
}