.list--naked,
.list--features--alpha,
.list--features--delta {
  list-style: none;
  padding: 0;
}
.list--features--delta {
  line-height: 1.8;
}
.list--features--delta > li {
  display: inline-block;
  margin-right: 20px;
  color: var(--color-blue);
}
.list--features--alpha {
  font-size: var(--font-size-beta);
  font-family: var(--font-family-sans-neue);
  font-weight: 400;
}
.list--features--alpha li {
  display: inline-block;
  padding: 10px 20px;
}