/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

.h--alpha,
.h--beta,
.h--gamma,
.h--delta {
  font-family: var(--font-family-sans-neue);
}

.h--alpha,
.t--alpha {
  font-size: var(--font-size-alpha);
}
.h--beta,
.t--beta {
  font-size: var(--font-size-beta);
}
.h--gamma,
.t--gamma {
  font-size: var(--font-size-gamma);
}
.h--delta,
.t--delta {
  font-size: var(--font-size-delta);
  line-height: 1.55;
}